<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Themefy</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Ajouter</a>
      <a class="nav-item nav-link" href="#">Rechercher</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-user-circle"></i> Login
      </a>
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-gears"></i> Administration
      </a>
      <a class="nav-item nav-link" href="#" target="_blank">
        <i class="fa fa-question-circle"></i> Aide
      </a>
    </div>
  </div>
</nav>